@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
html{
  color-scheme: dark;
}

#backgroundImg{
  background-repeat: no-repeat;
  background-position: top center;
}
b{
  color: #2596be;
}
#formations{
  width:50px
}
.title{
  color: #2596be;
  text-decoration: underline ;
}
.card{
  border-radius: 15px;;
  background-color: transparent;
}

#nomAbout{
  color: #2596be;
}
.navbar a {
  color: #2596be;
}
body{
  font-family: "Roboto", sans-serif;
}
.btn-primary{
  background-color: transparent;
  border: none;
}
.btn-primary:hover{
  background-color: transparent;
  background-image: linear-gradient(145deg, #f0f0f0, #f3f3f3);
  color: #2596be;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff
}
.btn-primary:active{
  background-color: transparent;
}
.btn-light {
  border: none;
  color: white;
  background: #2596be;
  border-radius: 25px 25px 25px 25px;
}
.btn-light:hover{
  background-color: transparent;
  background-image: linear-gradient(145deg, #f0f0f0, #f3f3f3);
  color: #2596be;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff
}
.App {
  text-align: center;
}
#codeAbout{
  font-family:'Courier New', Courier, monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.socials {
  z-index:500;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
  color:#2596be;
}

.contact--color{
  color: #2596be;
}

.App-link {
  color: #61dafb;
}

#lienContact {
  text-decoration: none;
  color: inherit;
}
#photoHeader{
  height: 60px;
  width:60px;
}
a {
  text-decoration: none;
  color: inherit;
}
.imageSRC {
  object-fit: contain;
}
svg {
  fill: currentColor;
}
#photoHeader{
  border-radius: 80px;
}
#photoAbout{
  width: 170px;
  height: 170px;
  border-radius: 100px 100px 100px 100px;
  border: 15px solid #2596be
}
#blocTextAbout{
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  margin-bottom: 15px;
  padding: 20px;
}
@media screen and (min-width: 800px) {
  #blocTextAbout{
    margin-top: -300px;
    margin-bottom: 50px;
    margin-left: 150px;
  }
  #blocAbout{
    margin-top: 15px;
  }
  #photoAbout{
    margin-top: 100px;
    margin-right:150px ;
  }
  #Contact{
    flex-wrap: wrap-reverse;
  }
}
.scroll-up{
  z-index: 1000;
  position: fixed;
  right: 2%;
  bottom:3%;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}
.scroll-up:hover{
  opacity: 1;
}
.btn-warning:hover{
  background-color: transparent;
  background-image: linear-gradient(145deg, #f0f0f0, #f3f3f3);
  color: #2596be;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff
}
.btn-warning:valid{
  background-color: #2596be;
}
.up-arrow {
  width: 3rem;
  height: 3rem;
}
@media only screen and (min-width: 1080px) {
  .menuDrop{
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .menuDrop{
    display: flex;
  }
}
#blocTextAbout, #photoAbout, #header, #formationsBlock, .socials{
  animation-duration: 4s;
  animation-name: opacity;
}

#lienContact{
  border-radius: 11px;
}
#cardFormulaire{
  border-radius: 11px;
}

footer{
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
.btn .EmailIcon{
  display: inline;
}
.btn .DraftsIcon{
  display: none;
}
.btn:hover .EmailIcon {
  display: none;
}
.btn:hover .DraftsIcon{
  display: inline;
}

@keyframes opacity {
  from {
    opacity: 0%
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0%{
    opacity:1;
  }
  80% {
    opacity: 100%;
}
  90%{
    opacity: 50%;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10000;
  animation: load 1.2s forwards
}
.loader img{
  border-radius: 50%;
  border-color: 2px solid #2596be;
}
.spinner{
  animation: spinner 800ms linear infinite;
}