.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hr {
  border: #61dafb;
  opacity: inherit;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#lienContact {
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
.imageSRC {
  object-fit: cover;
}
svg {
  fill: currentColor;
}
.btn-light:hover{
  background-color: #ffc107;
  color: #282c34;
}
#photoHeader{
  border-radius: 80px;
  border-color: #ffc107 !important;
}
#photoAbout{
  border-radius: 80px;
}
#blocTextAbout{
  margin-bottom: 15px;
}
@media screen and (min-width: 800px) {
  #blocTextAbout{
    margin-top: -300px;
    margin-bottom: 50px;
    margin-left: 150px;
  }
  #blocAbout{
    margin-top: 15px;
  }
  #photoAbout{
    margin-top: 100px;
    margin-right:150px ;
  }
  #Contact{
    flex-wrap: wrap-reverse;
  }
}

#blocTextAbout,#photoAbout{
  animation-duration: 5s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    padding-top: 100%;
  }
  to{
    padding-top: 0%;
  }
}

#header {
  animation-duration: 5s;
  animation-name: slideleft
}

@keyframes slideleft {
  from {
    margin-left: 90%
  }
  to {
    margin-left: 0%;
  }
}